/**
 * Shared Styles Index
 *
 * Barrel import for all shared style modules.
 * Import this file to get all shared patterns:
 * @import '../styles/shared/index.css';
 */

@import './animations.css';
@import './cards.css';
@import './buttons.css';
@import './sections.css';
